<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/Assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/Assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/Assets/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center h-100">
                    <a class="text-body mr-3" href="@Url.Action("About","Home")">About</a>
                    <a class="text-body mr-3" href="@Url.Action("Contact","Home")">Contact</a>
                    <a class="text-body mr-3" href="">Help</a>
                    <a class="text-body mr-3" href="">FAQs</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @User.Identity.Name 
                            }
                            else
                            {
                                <text>My Account</text>
                            }
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form action="@Url.Action("Logoff", "Account")" method="post">
                                    @Html.AntiForgeryToken() 
                                    <button type="submit" class="dropdown-item">Logoff</button>
                                </form>
                                <a class="dropdown-item" href="@Url.Action("OrderHistory", "Home")">Your Order History</a>


                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("Login", "Account")">Sign in</a>
                                <a class="dropdown-item" href="@Url.Action("Register", "Account")">Sign up</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4">
                <a href="@Url.Action("Index","Home")" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
                <form action="/Home/Shop" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchQuery" placeholder="Search for products">
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 col-6 text-right">
                <p class="m-0">Customer Service</p>
                <h5 class="m-0">+012 345 6789</h5>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn d-flex align-items-center justify-content-between bg-primary w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; padding: 0 30px;">
                    <h6 class="text-dark m-0"><i class="fa fa-bars mr-2"></i>Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse position-absolute navbar navbar-vertical navbar-light align-items-start p-0 bg-light" id="navbar-vertical" style="width: calc(100% - 30px); z-index: 999;">
                    <div class="navbar-nav w-100">
                        @foreach (var category in Model.Categories)
                        {
                            <div class="nav-item dropdown dropright">
                                <a href="@Url.Action("Shop", new { categoryId = category.Id })" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @category.Name
                                    <i class="fa fa-angle-right float-right mt-1"></i>
                                </a>
                                <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">
                                    @foreach (var subCategory in category.SubCategories)
                                    {
                                        <a href="@Url.Action("Shop", new { subCategoryId = subCategory.Id })" class="dropdown-item">@subCategory.Name</a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </nav>
            </div>

            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Shop</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="@Url.Action("Index","Home")" class="nav-item nav-link">Home</a>
                            <a href="@Url.Action("Shop","Home")" class="nav-item nav-link">Shop</a>
                            <a href="@Url.Action("About","Home")" class="nav-item nav-link active">About</a>
                            @*      <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down mt-1"></i></a>
                                    <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                        <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                        <a href="checkout.html" class="dropdown-item">Checkout</a>
                                    </div>
                                </div>*@
                            <a href="@Url.Action("Contact","Home")" class="nav-item nav-link">Contact</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                            <a href="@Url.Action("Wishlist","Home")" class="btn px-0">
                                <i class="fas fa-heart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;"> @ViewBag.WishlistCount</span>
                            </a>
                            <a href="@Url.Action("Cart","Home")" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">@ViewBag.TotalProducts</span>
                            </a>

                            @if (User.Identity.IsAuthenticated)
                            {
                                <a href="/Home/OrderHistory" class="btn px-0 ml-3" style="display: inline-block; visibility: visible; opacity: 1; color: yellow;">
                                    <i class="fa-solid fa-clock-rotate-left text-primary"></i>
                                    <span class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;">
                                        @ViewBag.TotalOrders
                                    </span>
                                </a>
                            

                            }
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="@Url.Action("Index","Home")">Home</a>
                    <span class="breadcrumb-item active">About</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- About Us Start -->
    <div class="container-fluid py-5 bg-light">
        <div class="row justify-content-center px-xl-5">
            <div class="col-lg-8 text-center">
                <h1 class="font-weight-bold mb-4">About MultiShop</h1>
                <p class="text-muted mb-4">At MultiShop, we believe in providing quality products at unbeatable prices. Established in 2024, our online platform offers a wide range of categories including Apparel, Home & Garden, and much more. Our mission is to make shopping easier, more convenient, and enjoyable for everyone.</p>
                <p class="text-muted mb-4">With a dedicated team and state-of-the-art technology, we ensure that your shopping experience is seamless from start to finish. We continually innovate to bring you the latest trends, all while providing top-notch customer service.</p>
                <a href="@Url.Action("Shop","Home")" class="btn btn-primary btn-lg px-4 py-2 mt-4">Shop Now</a>
            </div>
        </div>
    </div>
    <!-- About Us End -->
    <!-- Our Values Start -->
    <div class="container-fluid py-5 bg-light">
        <div class="text-center mb-5">
            <h2 class="section-title px-5"><span class="px-2">Our Values</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-4 text-center">
                <i class="fa fa-star fa-3x text-primary mb-3"></i>
                <h5 class="font-weight-semi-bold">Quality Products</h5>
                <p>We source the best quality products to ensure that our customers get only the best for their money.</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-thumbs-up fa-3x text-primary mb-3"></i>
                <h5 class="font-weight-semi-bold">Customer Satisfaction</h5>
                <p>Your satisfaction is our priority. We work tirelessly to ensure that every purchase exceeds your expectations.</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-heart fa-3x text-primary mb-3"></i>
                <h5 class="font-weight-semi-bold">Integrity</h5>
                <p>We believe in honesty and transparency in all our dealings, building trust with our customers every day.</p>
            </div>
        </div>
    </div>
    <!-- Our Values End -->
    <!-- Our Team Start -->
    <div class="container-fluid py-5">
        <div class="text-center mb-5">
            <h2 class="section-title px-5"><span class="px-2">Meet Our Team</span></h2>
        </div>
        <div class="row px-xl-5">
            @foreach (var teamMember in Model.Teams)
            {
                <div class="col-lg-3 col-md-6 mb-4 text-center">
                    <img class="img-fluid mb-4" src="@Url.Content(teamMember.EmployeeImage)" alt="@teamMember.Name" style=" width: 500px; height: 410px;">
                    <h5 class="font-weight-semi-bold">@teamMember.Name</h5>
                    <p class="text-muted">@teamMember.Role</p>
                </div>
            }
        </div>
    </div>
    <!-- Our Team End -->
    <!-- Testimonials Start -->
    <div class="container-fluid py-5 bg-light">
        <div class="text-center mb-5">
            <h2 class="section-title px-5"><span class="px-2">What Our Customers Say</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-4 mb-4">
                <div class="bg-white p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p class="text-muted">"MultiShop has completely changed the way I shop online. Their customer service is amazing, and I always find what I need at great prices!"</p>
                    <h5 class="font-weight-semi-bold">Sarah Williams</h5>
                    <p class="text-muted">Customer</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="bg-white p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p class="text-muted">"I love the variety of products on MultiShop. The quality is always top-notch, and the shipping is fast!"</p>
                    <h5 class="font-weight-semi-bold">James Taylor</h5>
                    <p class="text-muted">Customer</p>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="bg-white p-4">
                    <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                    <p class="text-muted">"Shopping with MultiShop is always a pleasure. The website is easy to use, and the deals are unbeatable!"</p>
                    <h5 class="font-weight-semi-bold">Linda Johnson</h5>
                    <p class="text-muted">Customer</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonials End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">We would love to hear from you! Feel free to reach out for any inquiries or support. Our team is here to assist you with any questions or concerns you may have. We value your feedback and aim to provide the best service possible.</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Kumanovo, North Macedonia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@multishop.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+389 70 561262</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="@Url.Action("Index","Home")"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="@Url.Action("Shop","Home")"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                            <a class="text-secondary" href="@Url.Action("Contact","Home")"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="col-md-4 mb-5">
                            <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-secondary mb-2" href="@Url.Action("Index", "Home")"><i class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-secondary mb-2" href="@Url.Action("Shop", "Home")"><i class="fa fa-angle-right mr-2"></i>Shop</a>
                                <a class="text-secondary mb-2" href="@Url.Action("OrderHistory", "Home")"><i class="fa fa-angle-right mr-2"></i>Your Order History</a>
                                <a class="text-secondary" href="@Url.Action("Contact", "Home")"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 mb-5">

                        </div>
                    }
                    <div class="col-md-4 mb-5">
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
                    <br>Distributed By: <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="~/Content/Assets/img/payments.png" alt="">
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
    <div>@RenderBody()</div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Assets/lib/easing/easing.min.js"></script>
    <script src="~/Content/Assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Content/Assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/Assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/Assets/js/main.js"></script>

    <script>
        // Prevent the dropdown-toggle class from stopping the click navigation on the category
        document.querySelectorAll('.nav-link.dropdown-toggle').forEach(function (element) {
            element.addEventListener('click', function (event) {
                if (this.getAttribute('href') !== '#') {
                    window.location.href = this.getAttribute('href');
                }
            });
        });
    </script>
</body>

</html>