@model ECMultiShop.Models.Product

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Admin Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/AdminAssets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/AdminAssets/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/AdminAssets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/Content/AdminAssets/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="~/Content/AdminAssets/img/admini.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">@ViewBag.UserName</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="@Url.Action("Admin","Home")" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-solid fa-paint-brush"></i> UI/UX</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="@Url.Action("Index","Carousels")" class="dropdown-item">Change Carousel Images</a>
                            <a href="@Url.Action("Index","Offers")" class="dropdown-item">Make Offers </a>
                            <a href="@Url.Action("Index","Teams")" class="dropdown-item">Team</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-solid fa-list" aria-hidden="true"></i>
                            Category / Sub
                        </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="@Url.Action("Index","Categories")" class="dropdown-item">Categories</a>
                            <a href="@Url.Action("Index","Subcategories")" class="dropdown-item">Subcategories </a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">
                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            Products / Stock
                        </a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="@Url.Action("Index","Products")" class="dropdown-item">Products</a>
                            <a href="@Url.Action("Index","Stocks")" class="dropdown-item">Stock Level </a>
                            <a href="@Url.Action("Index","Photos")" class="dropdown-item">Product Images </a>
                            <a href="@Url.Action("Index","Coupons")" class="dropdown-item">Coupons</a>

                        </div>
                    </div>

                    <a href="@Url.Action("Index","Orders")" class="nav-item nav-link"><i class="fa fa-solid fa-dollar-sign"></i> Sales</a>
                    <a href="@Url.Action("Users","Account")" class="nav-item nav-link"><i class="fa fa-solid fa-user"></i> Users</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-envelope me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Reviews</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0 dropdown-menu-notifications">
                            @if (ViewBag.UnreadNotifications != null && ViewBag.UnreadNotifications.Count > 0)
                            {
                                foreach (var notification in ViewBag.UnreadNotifications)
                                {
                                    <div class="dropdown-item d-flex align-items-center">
                                        <a href="@Url.Action("Index", "Reviews")" class="flex-grow-1 text-decoration-none text-dark">
                                            <h6 class="mb-0">@notification.Title</h6>
                                            <small>@notification.Message</small>
                                            <small class="text-muted">@notification.CreatedAt.ToString("g")</small>
                                        </a>
                                        <button type="button" class="btn-close ms-2" aria-label="Close" onclick="removeNotification('@notification.Id')"></button>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                }
                            }
                            else
                            {
                                <span class="dropdown-item">No new notifications</span>
                            }
                        </div>

                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notifications</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0 dropdown-menu-notifications">

                            @if (ViewBag.LowStockProducts != null && ViewBag.LowStockProducts.Count > 0)
                            {
                                foreach (var product in ViewBag.LowStockProducts)
                                {
                                    <a href="@Url.Action("Index","Stocks")" class="dropdown-item text-danger">
                                        <h6 class="mb-0">Low Stock Alert</h6>
                                        <small>@product.ProductName - Only @product.StockQuantity left!</small>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                }
                            }

                            @if
                                 (ViewBag.LowStockProducts == null || ViewBag.LowStockProducts.Count == 0)
                            {
                                <span class="dropdown-item">No new notifications</span>
                            }
                        </div>
                    </div>


                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="~/Content/AdminAssets/img/admini.jpg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">@ViewBag.UserName</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form action="@Url.Action("Logoff", "Account")" method="post">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="dropdown-item">Log out</button>
                                </form>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("Login", "Account")">Sign in</a>
                            }
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <br />
            <!-- Product Detail Start -->

            <div class="col-10">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Product Details</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.Name)</th>
                                    <td>@Html.DisplayFor(model => model.Name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.Description)</th>
                                    <td>@Html.DisplayFor(model => model.Description)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.Price)</th>
                                    <td>@Html.DisplayFor(model => model.Price)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.SalePrice)</th>
                                    <td>@Html.DisplayFor(model => model.SalePrice)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayNameFor(model => model.Gender)</th>
                                    <td>@Html.DisplayFor(model => model.Gender)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p class="text-end">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary me-2" })
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </p>
                </div>
            </div>
            <!-- Product Detail End -->
            <!-- Product Detail End -->
            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/Content/AdminAssets/lib/chart/chart.min.js"></script>
        <script src="~/Content/AdminAssets/lib/easing/easing.min.js"></script>
        <script src="~/Content/AdminAssets/lib/waypoints/waypoints.min.js"></script>
        <script src="~/Content/AdminAssets/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="~/Content/AdminAssets/lib/tempusdominus/js/moment.min.js"></script>
        <script src="~/Content/AdminAssets/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="~/Content/AdminAssets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="~/Content/AdminAssets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            function removeNotification(notificationId) {
                // Remove the notification from the UI
                const notificationElement = event.target.closest('.dropdown-item');
                notificationElement.nextElementSibling?.remove(); // Remove the divider
                notificationElement.remove();

                // Send an AJAX request to mark the notification as cleared on the server
                $.ajax({
                    url: '/Reviews/Clear',
                    type: 'POST',
                    data: { id: notificationId },
                    success: function () {
                        console.log('Notification cleared.');
                    },
                    error: function () {
                        console.error('Failed to clear notification.');
                    }
                });
            }
        </script>
</body>

</html>